!!!
%html
  = render './_includes/head.haml'
  %body
    = render './_includes/header.haml'
    %div#main
      %div#container
        = render './content.haml'
    = render './_includes/footer.haml'
